apiVersion: v1
kind: Secret
metadata:
  name: mandelbrok8s-tls-secrets
  namespace: mandelbrok8s
type: kubernetes.io/tls
stringData:
  tls.crt: |
    -----BEGIN CERTIFICATE-----
    MIIFLTCCAxWgAwIBAgIU... (Domain Certificate)
    -----END CERTIFICATE-----
    -----BEGIN CERTIFICATE-----
    MIIEADCCAuigAwIBAgIB... (Intermediate Certificate / CA Chain)
    -----END CERTIFICATE-----
  tls.key: |
    -----BEGIN PRIVATE KEY-----
    MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC... (Private Key)
    -----END PRIVATE KEY-----
