apiVersion: v1
kind: Secret
metadata:
  name: mongo-secrets
  namespace: mandelbrok8s
type: Opaque
stringData:
  MONGO_URI: "mongodb+srv://<USER>:<PASSWORD>@cluster.mongodb.net/mandelbrok8s?retryWrites=true&w=majority"
